<header>
    <h1>PARKING APP</h1>
    <div class="nav-links">
        <a href="" [routerLink]="['/estado-cocheras']" routerLinkActive="router-link-active" class="estilo">
        ESTADO COCHERAS
        </a>
        <a href="" [routerLink]="['/reportes']" routerLinkActive="router-link-active" class="estilo">
            REPORTES
        </a>
        <a href="" [routerLink]="['/precios']" routerLinkActive="router-link-active"class="estilo">
            PRECIOS
        </a>
        <button (click)="logout()" class="header-boton">Log Out</button>
    </div>
</header>

