<app-header></app-header>
<link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet">


<div>
<div id="tabla">   
    <div id="header-tabla">
        <div>NRO</div>
        <div>DISPONIBILIDAD</div>
        <div>INGRESO</div>
        <div>ACCIONES</div>
      </div>
      <div *ngFor="let fila of filas; let i = index; trackBy: trackById" class="fila-class">
        <!-- Número de fila -->
        <div>{{ i + 1 }}</div>
        <div>
          <!-- Mostrar patente si la cochera está activa -->
          <div *ngIf="fila.activo" class="patente" (click)="cerrarModalEstacionamiento(fila.id, fila.activo.patente)">
            {{ fila.activo.patente }}
          </div>
          <div *ngIf="!fila.activo && fila.deshabilitada" (click)="ModalNoDisponible()">
            <span class="ocupado">No disponible</span>
          </div>
          <!-- Mostrar "Disponible" si no está activa ni deshabilitada -->
          <div *ngIf="!fila.activo && !fila.deshabilitada" (click)="abrirModalEstacionamiento(fila.id)">
            <span class="disponible">Disponible</span>
          </div>
        </div>
        <div>{{ fila.activo?.horaIngreso }}</div>
        <div class="acciones-container">
          <i [ngClass]="fila.deshabilitada ? 'bx bx-check' : 'bx bx-minus-circle'"
             (click)="cambiarDisponibilidadCochera(i); $event.stopPropagation()">
          </i>
          <i class="bx bx-trash" (click)="eliminarFila(fila.id); $event.stopPropagation()"></i>
        </div>
      </div>
    </div>
    <div class="HL">
      <button class="btn-lindo" (click)="agregarFila()">Agregar fila</button> 
    </div>