
<section>
    <div class="log-title">
        <h1>COCHERA</h1>
    
    </div>
        <form class="button">
            <input type="email"  [(ngModel)]="datosLogin.username" name="usuario" placeholder="Email" required>  <!--le pasa los datos como un objeto a login con ngModule -->
            <input type="password" [(ngModel)]="datosLogin.username" name="password" placeholder="Escribe la contraseña"> 
            <button type="button" (click)="Login()">Iniciar Sesion</button>
        </form>
        <!-- <button type="button"><a [routerLink]="['/estado-cochera']" class="regist">regristrarme</a></button> -->

</section>
    



